* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid-left {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

body {
  background-image: url(lucrezia-carnelos-AsM4T46tqcU-unsplash.jpg);
}
header {
  background-color: white;
}
h1 {
  color: #001d3f;
  font-size: 1.4rem;
  text-align: center;
}

li {
  list-style: none;
}

.bolded {
  font-weight: bold;
  color: #001d3f;
}

p {
  color: white;
  font-size: 0.9rem;
}

h3 {
  color: #001d3f;
}
h4 {
  color: #001d3f;
}
a {
  color: #001d3f;
  font-weight: bold;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}
.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  color: dodgerblue;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.copy {
  color: #001d3f;
}

@media (max-width: 768px) {
  .hambuger {
    display: block;
  }
  .hambuger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hambuger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hambuger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
