* {
  font-family: "Roboto Slab", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img/engin-akyurt-BawjznQ3Q8U-unsplash3.jpg);
}
header {
  background-color: #4444;
}

h1 {
  color: white;
  text-align: center;
  font-size: 2.1rem;
}
#meddelande {
  background-color: rgb(255, 255, 225);
}
h2 {
  color: white;
  font-size: 1.3rem;

  padding: 10px;
}
h3 {
  color: #001e2c;
  padding-left: 30px;
  padding-top: 50px;
}

h4 {
  color: white;
}

p {
  background-color: #22448c75;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: whitesmoke;
  font-size: 1.2rem;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

nav {
  background-color: #22438c;
  color: whitesmoke;
}

li::marker {
  font-size: 1.2em;
  color: #001e2c;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  padding-top: 25px;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.4rem;
}

nav a:hover {
  background-color: rgb(0, 137, 179);
  border-radius: 50px;
  padding: 15px;
  cursor: pointer;
  transition: all 0.2s;
}

main {
  padding: 5px;
}

.artikel1 {
  text-align: left;
  padding-left: 30px;
  margin-bottom: 30px;
}

.artikel2 {
  text-align: left;
  padding-left: 30px;
  margin-bottom: 30px;
}

.artikel3 {
  text-align: left;
  padding-left: 30px;
  margin-bottom: 30px;
}

.artikel4 {
  text-align: left;
  padding-left: 30px;
  margin-bottom: 60px;
}

li {
  padding-bottom: 10px;
  color: whitesmoke;
  font-size: 1.1rem;
}

ul {
  background-color: #22448c75;
  padding: 10px;
  border-radius: 10px;
  list-style-type: none;
}
.section1 {
  padding: 10px;
}

section {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.section2 {
  padding-left: 50px;
}

section h2 {
  color: #001e2c;
  margin-bottom: 50px;
}

footer {
  font-size: 13px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #22448c;
  color: whitesmoke;
  text-align: right;
}

img {
  border-radius: 30%;
}

.copy {
  font-size: 11px;
  text-align: right;
}

h5 {
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  nav li {
    margin: 10px 0;
  }
}
